PHILOTES_APP_NAME=Philotes API
PHILOTES_ENVIRONMENT=development
PHILOTES_DATABASE_URL=postgresql+psycopg://philotes_app:CHANGE_ME@localhost:5432/philotes_dev
PHILOTES_JWT_SECRET_KEY=CHANGE_ME_WITH_A_RANDOM_SECRET
PHILOTES_JWT_ALGORITHM=HS256
PHILOTES_JWT_ISSUER=philotes-api
PHILOTES_ACCESS_TOKEN_EXPIRE_MINUTES=15
PHILOTES_SESSION_EXPIRE_DAYS=30
PHILOTES_EMAIL_VERIFICATION_EXPIRE_HOURS=24
RESEND_API_KEY=CHANGE_ME_WITH_A_RESEND_SENDING_KEY
PHILOTES_EMAIL_DELIVERY_ENABLED=false
PHILOTES_EMAIL_FROM_ADDRESS=Philotes <account@mail.philotes.titannexustech.com>
PHILOTES_EMAIL_VERIFICATION_URL=http://127.0.0.1:8000/api/v1/auth/verify-email-link
PHILOTES_PASSWORD_RESET_EXPIRE_MINUTES=60
PHILOTES_PASSWORD_RESET_URL=http://127.0.0.1:8000/api/v1/auth/reset-password-link
